@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Eventera</h1>
    <p>Eventera is a cutting-edge event management platform designed to streamline the process of organizing, promoting, and managing events of all sizes. Whether you're planning a small meetup or a large conference, Eventera provides the tools you need to make your event a success.</p>
</div>
